@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
      .masonry {
          column-gap: 1.5em;
          column-count: 1;
      }
      .masonry-sm {
          column-gap: 1.5em;
          column-count: 2;
      }
      .masonry-md {
          column-gap: 1.5em;
          column-count: 3;
      }
      .break-inside {
          break-inside: avoid;
      }

  }
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  font-family: 'Raleway', sans-serif;
}

@font-face {
  font-family: "gameboy";
  src: url('../public/InconstantVF.ttf')
}

@font-face {
  font-family: "sans";
  src: url('../public/DMSans-Regular.ttf')
}


@font-face {
  font-family: "wght";
  src: url('../public/Eczarwght.ttf')
}


#root {
  width: 100vw;
  height: 100vh;
  background-color: #FBAB7E;
  /*background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); */
  background: linear-gradient(180deg, #D8E3F2 0%, #4E6FA2 99.99%, rgba(85, 111, 152, 0.66) 100%);};
